@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Dark mode styles */
.dark body {
  @apply bg-gray-900 text-gray-100;
}
